.accordion {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    font-size: 14px;
}

.accordion ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.accordion li {
    margin: 0;
    padding: 0;
}

.accordion [type=radio], .accordion [type=checkbox] {
    display: none;
}

.accordion label {
    display: block;
    font-size: 16px;
    line-height: 16px;
    background: #FF9800;
    border: none;
    color: #000;
    cursor: pointer;
    text-transform: uppercase;
}

.accordion ul li label:hover,
.accordion [type=radio]:checked ~ label,
.accordion [type=checkbox]:checked ~ label {
    background: #EF6C00;
    border: none;
    color: #fff;
}

.accordion .content {
    padding: 0 10px;
    overflow: hidden;
    border: 1px solid #fff;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
}

.accordion h4 {
    color: #000;
    padding: 0;
    margin: 10px 0;
}

.vertical ul li {
    overflow: hidden;
    margin: 0 0 1px;
}

.vertical ul li label {
    padding: 10px;
}

.vertical [type=radio]:checked ~ label,
.vertical [type=checkbox]:checked ~ label {
    border-bottom: 0;
}

.vertical ul li .content {
    height: 0px;
    border-top: 0;
    transition: all .5s ease-out;
}

.vertical [type=checkbox]:checked ~ label ~ .content {
    height: inherit;
}